.contact-section {
  padding: 80px 20px;
  background: #0d0d0d;
  color: #fff;
  text-align: center;
}

.contact-title {
  font-size: 2.8rem;
  font-weight: 700;
  background: linear-gradient(90deg, #d4af37, #f8e7b5, #d4af37);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}

.contact-subtitle {
  color: #e6c77d;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 50px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  text-align: left;
  
}

.contact-info h3 {
  color: #d4af37;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: #ccc;
  
}

.info-item span {
  font-size: 1.4rem;
  margin-right: 10px;
  color: #d4af37;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #d4af37;
}

.contact-btn {
  /* background: linear-gradient(
    82.3deg,
    rgb(233, 233, 93) 10.8%, */
    /* rgba(99, 88, 238, 1) 94.3% */
    /* #d4af37 */
    background: linear-gradient(90deg, #d4af37, #f9e27c);
  
  color: black;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background: linear-gradient(90deg,  #f9e27c, #d4af37);
  color: #000;
  /* transform: scale(1.05); */
}

.contact-info {
  color: #fff;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.info-item .icon {
  font-size: 22px;
  margin-right: 12px;
  color: #e6c77d; /* GOLD */
}

.contact-info h3 {
  color: #e6c77d;
  margin-bottom: 15px;
}

.info-item p {
  margin: 0;
  color: #e5e5e5;
}


/* Mobile Responsive */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-info {
    text-align: center;
  }

  .info-item {
    justify-content: center;
  }
}
