.faq-section {
  padding: 80px 0;
  background: #0d0d0d;
  color: #fff;
}

.faq-title {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  background: linear-gradient(90deg, #d4af37, #f8e7b5, #d4af37);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq-subtitle {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #e6c77d;
  font-weight: 600;
  
}

.faq-container {
  max-width: 800px;
  margin: 40px auto 0;
  text-align: left;
}

.faq-item {
  border-bottom: 1px solid #333;
  padding: 20px 0;
}

.faq-question {
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  transition: color 0.3s;
}

.faq-question:hover {
  color: #e6c77d;
}

.faq-icon {
  font-size: 1.5rem;
  font-weight: 600;
  color: #d4af37;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.faq-answer.open {
  max-height: 200px;
  opacity: 1;
  margin-top: 10px;
}

.faq-answer p {
  margin: 0;
  color: #ccc;
  line-height: 1.6;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .faq-title {
    font-size: 2.2rem;
  }

  .faq-question {
    font-size: 1rem;
  }
}


/* FAQ Two Column Layout */
.faq-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 50px;
}

/* LEFT FAQ */
.faq-left {
  flex: 1;
}

/* RIGHT IMAGE */
.faq-right {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 22px;
}

.faq-image {
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.3);
  border: 2px solid rgba(212, 175, 55, 0.4);
  transition: 0.3s ease;
}

.faq-image:hover {
  transform: scale(1.03);
  box-shadow: 0 0 30px rgba(212, 175, 55, 0.5);
}

/* Mobile Responsive */
@media (max-width: 992px) {
  .faq-content {
    flex-direction: column;
    text-align: center;
  }

  .faq-right {
    margin-top: 30px;
  }

  .faq-left {
    text-align: left;
  }
}
