.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, #0c0c0c 40%, #1a1a1a 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
}

.hero-text h1 {
  /* color: #ffffff; */
  letter-spacing: 1px;
  padding-top: 60px;
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #d4af37, #f8e7b5, #d4af37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}

.hero-text p {
  color: #d1cfcf;
  max-width: 480px;
}

.btn-hero {
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    /* rgba(99, 88, 238, 1) 94.3% */
    #d4af37
  );
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
}

.btn-hero:hover {
  transform: translateY(-3px);
  background: linear-gradient(
    82.3deg,
    /* rgba(99, 88, 238, 1) 10.8%, */
    #d4af37,    
    rgba(150, 93, 233, 1) 94.3%
  );
}

.hero-watch {
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(150, 93, 233, 0.3);
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .hero {
    text-align: center;
    padding: 3rem 1.5rem;
  }
  .hero-text p {
    margin: 0 auto 2rem auto;
  }
}

@media (max-width: 576px) {
  .hero-text h1 {
    font-size: 1.8rem;
  }
  .hero-text p {
    font-size: 0.95rem;
  }
}
.luxury-btn {
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #77530a,
    #ffd277,
    #77530a,
    #77530a,
    #ffd277,
    #77530a
  );
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.luxury-btn::before {
  position: absolute;
  content: "Explore";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.luxury-btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.luxury-btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.luxury-btn:active {
  transform: scale(0.95);
}

@media (max-width: 576px) {
  .luxury-btn {
    margin: 0 auto;
    width: 150px;
    height: 42px;
    font-size: 0.9rem;
  }
}
