.bg-hero-section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  position: relative;
}

/* Dark overlay for text visibility */
.bg-hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
}

/* Center text content */
.content-box {
  max-width: 650px;
  color: white;
}

/* Title */
.hero-title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3;
  background: linear-gradient(90deg, #d4af37, #f8e7b5, #d4af37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Subtitle */
.hero-subtitle {
  font-size: 1.2rem;
  color: #e6e6e6;
  margin: 20px 0 35px;
  max-width: 480px;
}

/* Button */
.hero-btn {
  padding: 12px 32px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(90deg, #d4af37, #f9e27c);
  font-weight: 600;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background: linear-gradient(90deg, #f9e27c, #d4af37);
  transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .content-box {
    text-align: center;
  }
}

.why-choose-section {
  /* background-image: url("../assets/img/highlight-img.jpeg"); */
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 20px;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.55); 
  padding: 50px;
  padding-top: 10px;
  max-width: 700px;
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(2px);
}

.overlay h2 {
  /* font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px; */
  /* color: #d4af37; */
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #d4af37, #f8e7b5, #d4af37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
  
}

.sub-text {
  font-size: 18px;
  margin-bottom: 25px;
  color: #fff;
  opacity: 0.9;
}

.benefits {
  list-style: none;
  padding: 0;
  font-size: 18px;
  line-height: 1.7;
}

.benefits li {
  margin-bottom: 10px;
  color: #f2f2f2;
}
.high-img{
    width: 30%;
    height: 300px;
    background-color: #f2f2f2;
}


