.testimonials {
  background: #0c0c0c;
  padding: 80px 20px;
  text-align: center;
}

.testimonials-title {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #d4af37, #f8e7b5, #d4af37);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
  padding-bottom: 25px;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.testimonial-card {
  background: #111;
  border: 1px solid rgba(212, 175, 55, 0.3);
  border-radius: 12px;
  padding: 35px 25px;
  width: 350px;
  text-align: left;
  position: relative;
  color: #fff;
}

.quote-icon {
  font-size: 60px;
  font-weight: 700;
  color: #d4af37;
  position: absolute;
  top: -20px;
  left: 20px;
}

.testimonial-text {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-top: 40px;
  margin-bottom: 25px;
  color: #d1d1d1;
}

.testimonial-name {
  text-align: right;
  font-weight: 600;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
}

/* Responsive */
@media (max-width: 768px) {
  .testimonials-container {
    flex-direction: column;
    align-items: center;
    
  }

  .testimonial-card {
    width: 90%;
  }
  .testimonials-title{
    font-size: 2.2rem;
  }
}
